BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
NamespaceIndentation: All
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
IncludeBlocks: Preserve
SortIncludes: true
Standard: c++20
Cpp11BracedListStyle: true
SpaceAfterLogicalNot: false
PointerAlignment: Left
AccessModifierOffset: -2
